.form-1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #484d53;
  width: 50%;
  color: #fff;
}

.form-1 input:focus {
  border: 1px solid #30ad64;
}

.form-1 input, .form-1  button {
  margin-top: 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  height: 40px;
  width: 70%;
  text-align: center;
  padding: 5px;
  color: #fff;
  background: #484d53;
}

.form-1 button {
  height: 50px;
  width: 71%;
  margin-bottom: 20px;
  background: #30ad64;
  text-transform: uppercase;
}

.form-2 {
  margin-left: auto;
  margin-right: auto;
  background: #ff945d;
  width: 50%;
}

.form-2 h1 {
  text-align: center;
  height: 30px;
  color: #fff;
}

.form-2 .text-head {
  background: #fff;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
}

.form-2 table {
  border: 4px solid #ff945d;
  border-collapse: collapse;
}


.form-2 table tr{
  color: #727375;
}

.form-2 table tr:first-child {
  color: #000;
  font-weight: bold;
}

.form-2 table  {
  width: 100%;
  background: #fff;
}

.form-2 table tr {
  height: 50px;
}

.form-2 table tr:nth-child(even) {
  background: #e6e6e6;
}

.form-2 table input {
  background: #ff945d;
  border: 1px solid #ff945d;
  width: 70px;
  height: 30px;
}

.form-3 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #333333;
  color: #fff;
  width: 50%;
}

.form-3 form {
  display: flex;
  flex-direction: column;
}

.form-3 label, p {
  margin-left: 60px;
  width: 80%;
}

.form-3 input, .form-3 select, .form-3 textarea {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.form-3 input[type="submit"] {
  background: #74b541;
  color: #fff;
  border: 1px solid #74b541;
  height: 40px;
}