body {
    background-color: #fefeae;
  }
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    color: #1e1a1e;
  }
  
  table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-color: white;
    background: #dedede;
  }
  
  .id, .empty {
    text-align: center;
    width: 2%;
  }
  
  .team {
    width: 10%;
  }
  
  .team-id, .team-id-head {
    width: 5%;
    text-align: center;
  }
  
  .self {
    width: 5%;
  }
  
  .team {
    text-transform: uppercase;
  }
  
  .team-id {
    background-color: #FEFCFE;
  }
  
  .puck-head, .puck {
    width: 9%;
    text-align: center;
  }
  
  .puck {
    background: #DEFCDE;
    color: #10260F;
  }
  
  
  .score-head, .score {
    width: 7%;
    text-align: center;
  }
  
  .score {
    background: #FE787F;
    color: #3C151C;
  }
  
  .self {
    background-color: black;
  }
  