header {
  background-color: #96ceb4;
}

.menu {
  background-color: #ff6f69;
}

.content {
  background-color: #ffcc5c;
}

footer {
  background-color: #88d8b0;
}

.wrapper > header,
.wrapper > section,
.wrapper > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: #ffeead;
}

html,
body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.wrapper {
  height: 100%;
  grid-gap: 3px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
}

header,
footer {
  grid-column: 1 / -1;
}

.content {
  grid-column: 3 / -3;
  align-self: end;
  margin: 20px;
  height: 100px;
}

.menu {
  grid-column: span 2;
}

.menu-last {
  margin: 20px 0;
  margin-right: 20px;
}