header {
  background-color: #96ceb4;
}

.menu {
  background-color: #ff6f69;
}

.content {
  background-color: #ffcc5c;
}

footer {
  background-color: #88d8b0;
}

.wrapper > header,
.wrapper > section,
.wrapper > footer {
  padding-left: 20px;
  color: #ffeead;
  display: flex;
  align-items: center;
  font-size: 20px;
}

html {
  padding: 0 10px;
  margin: 0 10px;
}

html,
body {
  background: #ffeead;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px repeat(20, 1fr) 40px;
}

header, footer {
  grid-column: span 12;
}

.content {
  grid-column: 4/11;
  grid-row: 20;
}

.menu {
  grid-column: span 2;
  grid-row: span 20;
}